@charset "utf-8";
.chronice{width:923px;float:left;background:#fff;}
.chroniceimg1{width:892px;height:220px;display:block;margin:0 auto;padding-top:17px;}
.chroniceimg2{width:923px;height:1179px;display:block;}