@charset "utf-8";
.contentright{width:890px;float:right;background:#fff;padding:16px;}
.contactbanner{width:892px;height:221px;background:url(/static/weipaidai/images/disclosure/disclosure07.png) no-repeat center center;}
.contactus01{color:#202020;font-size:16px;font-weight:700;padding-top:22px;}
.contactus02{font-size:14px;color:#414141;}
.pat9{padding-top:9px;}
.contactus03{font-size:14px;color:#414141;padding-left:27px;}
#sxrmap{width:884px;height:387px;margin-top:13px;margin-bottom:26px;}
.m20{margin-bottom:20px;}
.mart50{margin-top:50px;}
.contactusimg{width:884px;height:390px;display:block;margin:12px auto 60px auto;}